.container{
    padding: 20px;
}
.row{
    display: flex;
    padding: 20px;
}
h1{
    text-align: center;
}

img{
    width: 500px;
}

#contenido{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#imagenP{
    display: flex;
}

