<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
       <div class="col-lg-12 col-sm-12">
            <h2 class="animate__animated animate__bounce">Portfolio web</h2>
        </div>
        <div class="col-lg-7 col-sm-12">
            <p>Portfolio realizado para la segunda etapa de Argentina Programa </p>
            <a href="https://github.com/Mauri667/Proyecto-Integrador" target="_blank">repositorio en GitHub</a>
        </div>
        <div class="col-lg-5 col-sm-12">
           <!-- Acá va la imagen -->
        </div>
    </div>
</div>