<div class="container">
    <h1>Proyectos realizados
        <button type="button" class="btn btn-dark" routerLink="/nuevoProyecto" *ngIf="isLogged">
            Añadir proyecto
        </button>
    </h1>
</div>
<div class="container" *ngFor="let proyectos of proyectos">
    <div>
        {{proyectos.titulo}}
    </div>
    <div>
        {{proyectos.descripcionP}}
    </div>
    <div>
        <a href={{proyectos.link}}>Repositorio en GitHub</a>
    </div>
    <div>
        <img src={{proyectos.imagen}} alt="imagen">
    </div>
</div>