<div class="container-fluid p-4">
  <h1>Educacion</h1>
  <div class="row">
    <div class="d-flex justify-content-center p-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
      Añadir educacion
  </button>
</div>
      <div class="container educacion rounded" *ngFor="let Educacion of edu">
          <div>
            <h4>{{Educacion.nombreEdu}}</h4>
          </div>
          <div>
            <p>IMAGEN </p>
          </div>
          <div>
            <p>{{Educacion.descripcionEdu}}</p>
          </div>
          <div>
            <p>{{Educacion.fechaEdu}}</p>
          </div>
          <div *ngIf="isLogged" class="container botones d-flex justify-content-end">
            <div><button class="btn btn-secondary" id="editar"
              routerLink="/editedu/{{Educacion.id}}">
              <i class="fas fa-pen"></i></button></div>
          <div><button class="btn btn-danger" id="borrar"
              (click)="delete(Educacion.id)">
              <i class="fas fa-trash"></i></button>
          </div>
        </div>
          </div>
        </div>