<footer>
    <div class="d-flex justify-content-around align-items-center">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"> <img src="../../../assets/Logos/APLogo.png" alt="" width="150"> </a>
        <ul class="social-network social-circle">
            <li><a href="https://github.com/Mauri667" target="_blank" class="icoGithub" title="Github"><i
                        class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mauricio-mazurek-60a458244/" target="_blank" class="icoLinkedin"
                    title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="mailto:mauricio.mazurek7@gmail.com" target="_blank" class="icoGoogle" title="Google"><i
                        class="fab fa-google"></i></a></li>
        </ul>
    </div>
    <p>Mauricio Mazurek | Argentina Programa 2022</p>
    <p>Buenos Aires, Argentina</p>
</footer>