<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Skill</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreH" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Porcentaje</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="porcentajeH" required>
                </div>
                <button class="btn btn-primary">
                    Agregar educación
                </button>
            </form>
        </div>
    </div>
</div>
