.experiencia{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   margin-bottom: 5%;
}

.experiencia:hover{
    background: linear-gradient(90deg, rgba(144,148,151,1) 0%, rgba(201,206,210,1) 100%);
    transition-duration: 0,5s;
}

.botones{
    display: flex;
}

.btn{
    border: 0;
    display: block;
    text-align: center;
    padding: 7px 20px;
    border-radius: 24px;
}


