.row{
    padding: 20px;
}
h4{
   margin-top: 15px;
}
p{
    margin-top: 15px;
    color: grey;
}

#LogoCoto{
    width: 15%;
    float: right;
    position: relative;
    bottom: 63px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 20px;
}

