<div class="container-fluid p-4">
  <h1>Experiencia laboral</h1>
  <div class="row">
    <div class="d-flex justify-content-center p-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
      Añadir Experiencia
  </button>
</div>
      <div class="container experiencia rounded" *ngFor="let Experiencia of expe">
          <div>
            <h4>{{Experiencia.nombreE}}</h4>
          </div>
          <div>
            <p>IMAGEN </p>
          </div>
          <div>
            <p>{{Experiencia.descripcionE}}</p>
          </div>
          <div>
            <p>{{Experiencia.fechaE}}</p>
          </div>
          <div *ngIf="isLogged" class="container botones d-flex justify-content-end">
            <div><button class="btn btn-secondary" id="editar"
              routerLink="/editexp/{{Experiencia.id}}">
              <i class="fas fa-pen"></i></button></div>
          <div><button class="btn btn-danger" id="borrar"
              (click)="delete(Experiencia.id)">
              <i class="fas fa-trash"></i></button>
          </div>
        </div>
          </div>
        </div>
      

 