  <div class="container-fluid">
  <div class="row">
        <div class="col-lg-12">
          <app-header> </app-header>
        </div>
        <div class="col-lg-12">
            <app-acerca-de></app-acerca-de>
        </div>
        <div class="col-lg-12">
            <app-experiencia></app-experiencia>
        </div>
        <div class="col-lg-12">
            <app-educacion></app-educacion>
        </div>
        <div class="col-lg-12">
            <app-skills></app-skills>
        </div>    
        <div class="col-lg-12">
            <app-proyectos></app-proyectos>
        </div>
        <div class="col-lg-12">
            <app-footer></app-footer>
        </div>    
  </div>
</div>