.row{
    display: flex;
    align-items: center;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 20px;
    justify-content: space-evenly;
}

#progreso{
    text-align: center;
}

h1{
    text-align: center;
}