<div class="row">
    <h1>Hard skills</h1>
    <div class="container" id="progreso">
    <div class="col-lg-4 col-sm-4">
        <circle-progress
      [percent]="85"
      [radius]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [title]="'CSS'"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#3CB371'"
      [innerStrokeColor]="'#3CB371'"
      [animation]="true"
      [animationDuration]="500">
    </circle-progress>
 </div>
 <div class="col-lg-4 col-sm-4">
    <circle-progress
  [percent]="80"
  [radius]="50"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'HTML'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#3CB371'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500">
</circle-progress>
</div>
<div class="col-lg-4 col-sm-4">
    <circle-progress
  [percent]="70"
  [radius]="50"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Angular'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#3CB371'"
  [animation]="true"
  [animationDuration]="300">
</circle-progress>
</div>
</div>
<h1>Soft skills</h1>
<div class="container" id="progreso">
<div class="col-lg-4 col-sm-4">
    <circle-progress
  [percent]="90"
  [radius]="50"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Responsabilidad'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#3CB371'"
  [animation]="true"
  [animationDuration]="500">
</circle-progress>
</div>
<div class="col-lg-4 col-sm-4">
    <circle-progress
  [percent]="82"
  [radius]="50"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Autogestión'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#3CB371'"
  [animation]="true"
  [animationDuration]="500">
</circle-progress>
</div>
<div class="col-lg-4 col-sm-4">
    <circle-progress
  [percent]="86"
  [radius]="50"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Liderazgo'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#3CB371'"
  [animation]="true"
  [animationDuration]="500">
</circle-progress>
</div>
</div>
</div>
