<div class="container">
       <div *ngIf="isLogged" class="container botones d-flex justify-content-end">
              <div><button class="btn btn-secondary" id="editar" routerLink="/editacercade/{{persona.id}}"><i class="fas fa-pen"></i></button></div>
       </div>
       <div class="row">
              <div id="Perfil" class="col-lg-4 col-sm-12 col-md-4">
                     <img class="p1" src="../../../assets/perfil temporario.jpg" class="img-fluid" id="fotoperfil">
                     <h4 id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
                     <p id="titulo">{{persona.titulo}}</p>
              </div>

              <div id="Presentacion" class="col-lg-8 col-sm-12 col-md-8">
                     <h1>Acerca de</h1>
                     <h4>{{persona.descripcion}}</h4>
              </div>
       </div>
</div>