<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <button type="button" class="btn btn-secondary" (click)="login()">INGRESO</button>
    <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"> <img src="../../../assets/Logos/APLogo.png" alt="" width="125"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-end">
        <a class="nav-item nav-link" href="mailto:mauricio.mazurek7@gmail.com" target="_blank"><img src="../../../assets/Logos/gmail.png" alt="" width="35"></a>
        <a class="nav-item nav-link" href="https://github.com/Mauri667" target="_blank"><img src="../../../assets/Logos/github.png" width="35"></a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/mauricio-mazurek-60a458244/" target="_blank"><img src="../../../assets/Logos/linkedin.png" width="35"></a>
      </div>
    </div>
  </nav>
  

      


