<div class="row">
    <div class="container">
        <div class="ArgProg">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target=""><img src="../../../assets/Logos/APLogo.png"></a>
        </div>
        <div class="Redes">
            <div>
                
                <a href="mailto:mauricio.mazurek7@gmail.com" target="_blank"><img src="../../../assets/Logos/gmail.png" id="Logo" [hspace]="2"></a>
                <a href="https://github.com/Mauri667" target="_blank"><img src="../../../assets/Logos/github.png" id="Logo" [hspace]="2"></a> 
                <a href="https://www.linkedin.com/in/mauricio-mazurek-60a458244/" target="_blank"><img src="../../../assets/Logos/linkedin.png" id="Logo" [hspace]="2"></a>
                <button type="button" class="btn btn-primary">INGRESO</button>
    </div>
</div>

