<div class="container-fluid">
  <div id="formulario" class="rounded"> 
  <h1 class="m-5">Iniciar sesión</h1>
  <form [formGroup]="form" class="m-5">
      <div class="form-group mb-3">
        <label for="exampleInputEmail1" class="mb-2">Email:</label>
        <input [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched }" type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('email')" class="text-danger">
            El formato debe ser válido.
        </p>
        <p *ngIf="Email?.hasError('required')" class="text-danger">
          El email es requerido.
        </p>
      </div>
      </div>
      <div class="form-group mb-3">
        <label  for="exampleInputPassword1" class="mb-2">Contraseña:</label>
        <input [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched }" type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">
            La contraseña es requerida.
          </p>
          <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
            La contraseña debe tener 8 o más carateres.
        </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mv-2">Enviar</button>
    </form>
</div>
</div>
