.demo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444546;
}

.row {
    background-image: linear-gradient(to top, #909497 0%, #34495E 100%);
}


.image-size-small img{
margin-top: 10%;
width:140px;
margin-bottom:-75px;
}

.btn-lg {
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

::placeholder {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.form-control-lg {
    font-size: 16px;
    padding: 25px 20px;
}

.font-500 {
    font-weight: 500;
}

.image-size-small {
    width: 140px;
    margin: 0 auto;

}


form input[type="email"],
form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #34495E;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    width: 300px;
    border-color: #1ABC9C
}

input[type="submit"] {
    border: 0;
    background: #34495E;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

form input[type="submit"]:hover {
    background: #1ABC9C;
}